.header-now-playing-img{
    width: 100%;
    height: 115vh;
}

.now-playing-description-wrapper{
    width: 80%;
    margin: auto;
    height: 80%;
    display: flex;
}
.now-playing-description-container{
    width: 100%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.now-playing-description-box{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.original-de-liteflix {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
    text-transform: uppercase;
}

.now-playing-title{
    font-family: RobotoSlab;
    font-size: 110px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: normal;
    color: var(--white);
}
.now-playing-btns-wrapper{
    display: flex;
    width: clamp(100%, 65%, 65%);
    flex-direction: row;
    justify-content: space-between;
    padding: auto 20px;
}
.now-playing-btn{
    width: 50%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.502);
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.description-now-playing-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.description-now-playing-wrapper h4{
font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}
.description-now-playing-wrapper p{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);

}

@media only screen and (max-width: 700px) {
    .header-now-playing-img{
        height: 65vh!important;
    }
    .now-playing-description-wrapper{
        width: 70%;
    }
    .description-now-playing-wrapper{
        display: none;
    }
    .now-playing-title{
        font-size: 72px;;
    }
    .original-de-liteflix{
        font-size: 18px;
        font-weight: normal;
    }
    .now-playing-description-container{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .now-playing-description-box{
        height: 50%;
    }
    .now-playing-btn{
        width: 80%;
        margin: auto;
    }

}