*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --mainBlack: #000000;
  --white: rgb(255, 255, 255);
  --grey: #222222;
  --red: #ff0000;
}
body{
  overflow-x: hidden;
}

 @font-face {
  font-family: Montserrat;
  src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf);
} 
.tr{
  border: 2.5px solid red;
}

.to{
  border: 2.5px solid orange;
}

.tb{
  border: 2.5px solid blue;
}

.tv{
  border: 2.5px solid violet;
}

.tg{
  border: 2.5px solid green;
}

.ty{
  border: 2.5px solid yellow;
}

.tw{
  border: 2.5px solid white;
}
.d-none-sm{
  display: block;
}
.d-none-lg{
  display: none!important;
}

@media only screen and (max-width: 700px) {
  .d-none-lg{
    display: block!important;
  }
  .d-none-sm{
    display: none!important;
  }
}