*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --mainBlack: #000000;
  --white: rgb(255, 255, 255);
  --red: #ff0000;
}

 @font-face {
  font-family: Montserrat;
  src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf);
} 
.tr{
  border: 2.5px solid red;
}

.to{
  border: 2.5px solid orange;
}

.tb{
  border: 2.5px solid blue;
}

.tv{
  border: 2.5px solid violet;
}

.tg{
  border: 2.5px solid green;
}

.ty{
  border: 2.5px solid yellow;
}

.tw{
  border: 2.5px solid white;
}